
.plumbing-creator {
	margin:auto;

	padding:0px;
}
 .plumbing-creator{
 	background:#7b4f03;
 	width:300px;
 	display:block;
 	overflow: hidden;
 	height:74px;
 }

.plumbing-creator ul{
	width: 1000px;
	height:74px;
}


.plumbing-creator ul li{
	width: 71px;
	height: 71px;
	margin: 1px;
	border: none;
	overflow: hidden;
	background-color:#000000;
	float: left;
	
}
.start-water{
	width: 285px;
	height: 25px;
	background: #ffffff;
	float: left;
	clear: left;
	border: #000000 1px solid;
	margin-bottom: 5px;
}
